---
import Base from "@layouts/Base.astro";
import WCUCC from "@src/components/elements/WCUCC.astro";
---

<Base>
	<WCUCC />
	<div class="w-full h-[20vh] bg-white"></div>
	<div class="w-full h-[20vh] bg-black"></div>
</Base>
