---
import Base from '@src/layouts/Base.astro';
---

<Base title="Home">
	<h1>WCUCC 2025</h1>
	<a href="testing/hero-test" class="underline text-blue-500 hover:text-blue-400">Testing: Hero Test</a>
</Base>
