---
import Base from '@src/layouts/Base.astro';
---

<Base title="Home">
	<div id="spacer" class="w-screen h-14"></div>
    <h1>WCUCC 2025</h1>
    <a
        href="testing/hero-test"
        class="text-blue-500 underline hover:text-blue-400"
        >Testing: Hero Test</a
    >
    <br />
    <a href="meet-the-team" class="text-blue-500 underline hover:text-blue-400">Goto Meet the Team</a>
</Base>
