---
import MemberCard from '@src/components/elements/persons/MemberCard.astro';
import Base from '@src/layouts/Base.astro';
---

<Base title="Home">
	<section
		id="team-image"
		class="flex w-screen bg-sky-100 items-center justify-center py-44 text-9xl"
	>
		THIS IS A TEAM IMAGE
	</section>

	<section
		id="main-content"
		class="flex w-screen justify-center"
	>
		<div class="border-black mt-6 w-2/3">
			<div class="flex flex-col items- @container">
				<h1 class="text-5xl font-bold mr-4">Meet the Team</h1>
				<p class="m-0 text-wcucc-pine">Get to know the team that made WCUCC 2025 possible.</p>
			</div>
			<div class="flex flex-col">
				<MemberCard name='Trevor' />	
				<MemberCard name='Trevor' />	
				<MemberCard name='Trevor' />	
				<MemberCard name='Trevor' />	
				<MemberCard name='Trevor' />	
			</div>
		</div>
	</section>

	<style>
	.masonry > div {
		@apply w-32
	}

	</style>
</Base>
