---
interface Props {
	icon?: boolean;
	href: string;
}

let { icon, href } = Astro.props;
icon ??= true;

// NOTE: To whomever will make the dropdowns using this component, allow Trev to do the tailwind/CSS for the arrows and stuff when the hover is active.
---

<div class="flex items-center justify-center">
	<div
		class:list={[
			'mr-4 flex pt-0.5 transition-colors hover:cursor-pointer hover:text-wcucc-coral-400',
			icon && 'mr-',
		]}
	>
		<a {href} class=""
			><div
				class:list={[
					"data-[active='true'] mr-0.5 inline-flex items-center p-0 decoration-2 underline-offset-[3px] hover:underline",
				]}
			>
				<slot />
			</div></a
		>
		{icon && <i id="icon" class="ri-arrow-down-line" />}
	</div>
</div>

<style>
	#icon::before {
		translate: 0px -0.5px 0px;
		display: inline-block;
		transition: all ease-in-out 0.3s;
	}

	div:hover > #icon::before {
		translate: 0px -2px 0px;
		rotate: 180deg;
		transition: all ease-in-out 0.3s;
	}
</style>
