---
import ConfImg from '../../../public/ConferenceDates.svg';
---

<section
	id="conference-date"
	class="flex h-screen flex-col items-start justify-center bg-gradient-to-b from-[#14232d] to-[#111B21]"
>
	<div class="ml-auto flex w-4/5 flex-col items-start justify-center">
		<div class="flex flex-row">
			<span class="fade-in-left inline w-2 bg-[#F17F55]"></span>
			<h3
				class="fade-in-left bg-[#F17F55] bg-opacity-5 p-2 pl-4 text-xl text-white"
			>
				Conference Dates | May 7 - 12, 2024
			</h3>
		</div>
		<div class="flex w-4/5 flex-row items-center justify-between">
			<div class="flex flex-row items-center justify-center">
				<h1
					class="fade-in-left mr-5 text-[12rem] font-bold text-white sm:text-[24cqi]"
				>
					80
				</h1>
				<div
					class="fade-in-left flex flex-col items-start justify-center text-5xl font-bold text-white sm:text-[24cqi]"
				>
					<h1 class="p-2">DAYS</h1><h1 class="p-2">TO GO</h1>
				</div>
			</div>
			<div><img src={ConfImg.src} /></div>
		</div>
	</div>
</section>
