---
---

<section
	id="hero"
	class="flex h-screen w-screen flex-col items-start justify-center bg-[url('/home-hero-bg-d.svg')] bg-center text-white sm:justify-start"
>
	<div
		class="ml-auto flex w-4/5 flex-col justify-center sm:mt-auto sm:h-3/4 sm:w-full sm:pl-4"
	>
		<div class="my-10 flex flex-row">
			<span class="fade-in-left inline w-2 bg-teal-500"> </span>
			<h3 class="fade-in-left bg-teal-500 bg-opacity-5 p-2 pl-4 text-xl">
				Western Canada Undergraduate Chemistry Conference
			</h3>
		</div>
		<div class="flex h-full flex-col @container">
			<h1 class="fade-in-left text-9xl font-bold sm:text-[24cqi]">
				WCUCC 2025
			</h1>
			<h1 class="fade-in-left text-5xl font-bold">
				Discover how we <span id="typer" class="text-wcucc-coral-400"
				></span>
			</h1>
			<div class="my-10 p-2">
				<p class="text-white text-xl">Interested in the conference? Answer our Interest Questionnaire!</p>
				<a class="w-fit py-2 px-4 outline-none border-noe rounded-lg text-xl outline-none bg-black font-normal shadow-transparent text-white hover:cursor-pointer hover:no-underline hover:bg-gray-800 transition-all duration-500" href="https://ubc.ca1.qualtrics.com/jfe/form/SV_a8FwZ21NLZgGYlg" target="_blank">Interest Questionnaire</a>
			</div>
		</div>
	</div>
</section>
<script>
	import Typed from 'typed.js';
	new Typed('#typer', {
		strings:
			'innovate, create, design, synthesize, pipette, analyze, experiment, teach, learn'.split(
				', '
			),
		typeSpeed: 100,
		backSpeed: 50,
		backDelay: 1000,
		smartBackspace: true,
		loop: true,
		shuffle: true,
	});
</script>
