---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import { getCollection } from 'astro:content';

interface Props {
	name: string;
}

const { name } = Astro.props;

const bios = await getCollection('bios');
const entry = bios.find(
	e => e.data.firstName.toLowerCase() == name.toLowerCase()
);

if (!entry) {
	throw new Error(
		`"${name}" is not a valid name of a team member. Please consider fixing spelling or adding an entry for this person.`
	);
}

const fullName = entry.data.firstName + ' ' + entry.data.lastName;
const major = entry.data.major;

const { Content: Bio } = (await entry?.render()) as {
	Content: AstroComponentFactory;
};
---

<section class="mt-6 flex items-center">
	<div class="inline-block h-40 w-40 rounded-full bg-wcucc-coral-300"></div>
	<div class="ml-4 inline-block w-11/12">
		<span class="text-2xl font-bold">{fullName}</span>
		<span class="ml-1 italic">{major}</span>
		<Bio />
	</div>
</section>

<style>
	p {
		@apply m-0;
	}
</style>
